  * {
  padding: 0;
  margin: 0;
}

body {
  background-color: #151515;
}

#s1 {
  height: 140px;
  width: 100%;
  position: relative;
  background-color: #0a0a0a;
}

#header {
  height: 200px;
}

#header img {
  height: 140px;
  float: left;
}

.navigatorButoni {
  color: white;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  isolation: isolate;
  position: relative;
  left: 28%;
  margin-left: 28px;
  margin-top: 60px;
  cursor: pointer;
}

.navigatorButoni:hover {
  text-decoration: underline;
  text-decoration-color: purple;
  text-decoration-thickness: 3px;
  transition: 0.25s;
}

.link {
  text-decoration: none;
}

#first-section {
  height: 1400px;
  width: 100%;
  position: relative;
  background-color: black;
  background-repeat: no-repeat;
  padding-top: 150px;
}

#first-section::before {
  background-image: url(img/about-us-background.avif);
  background-size: cover;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.4;
}

#first-section>h1 {
  color: white;
  isolation: isolate;
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  font-size: 40pt;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 150px;
}

#first-section>h1>span {
  color: #00308f;
}

#first-section-main {
  isolation: isolate;
  font-size: 25pt;
  background-color: rgba(0, 0, 0, 0.6);
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 945px;
  padding: 15px;
  z-index: 999;
}

#first-section-main>h2 {
  font-family: "Popins" sans-serif;
  text-align: center;
  color: #0490C2;
}

#first-section-main>#starting-paragraph {
  font-weight: 600;
  font-size: 23pt;
  margin-top: 30px;
  margin-bottom: 20px;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

#first-section-main>ul>li {
  margin-left: 20px;
  color: #0490C2;
  font-family: "Anton", sans-serif;
  margin-bottom: 45px;
}

#first-section-main>ul>li>p {
  color: white;
  margin-top: 15px;
  font-family: none;
  font-size: 28pt;
}

#first-section-main>ul>li>p>span {
  color: skyblue;
  font-weight: 700;
}

#second-section {
  width: 100%;
  height: 800px;
  z-index: -1;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 20px;
  justify-content: center;
}
#section-header{
  height: 150px;
  background-color: white;
  padding-top: 80px;
}
#section-header > #next-header{
  width: 100%;
  color: #0490C2;
  font-size: 50pt;
  text-align: center;
}

.info {
  height: 600px;
  background-color: skyblue;
  border: solid 2px #00308f;
  border-radius: 10px;
}

.info>div {
  width: 100%;
  height: 100px;
  color: white;
  background-color: #00308f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.info>div>h1 {
  padding-top: 23px;
  font-family: "Anton", sans-serif;
  font-weight: 800;
  font-size: 25pt;
}

.info>img {
  width: 100%;
  height: 500px;
}

#first-div:hover {
  width: 307.5%;
  transition: 0.5s;
  background-color: #00308f;
  z-index: 999;
}

#first-div:hover>img {
  width: 32.3%;
  height: 500px;
  float: left;
}

#first-div:hover>div {
  background-color: #00308f;
  transition: 1s;
}

#first-div>p {
  opacity: 0;
  font-size: 10pt;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  height: 500px;
  margin-top: -500px;
}

#first-div:hover>p {
  background-color: #0490C2;
  font-size: 25pt;
  opacity: 1;
  margin-top: 0px;
  color: white;
}

#first-div>div>h1 {
  text-align: center;
}

#first-div:hover>div>h1 {
  text-align: start;
  transform: translateX(45%);
  transition: 1s;
}

#second-div {
  position: relative;
}

#second-div>img {
  width: 100%;
}

#second-div>div>h1 {
  text-align: center;
}

#second-div>p {
  opacity: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  background-color: #0490C2;
  color: white;
  float: left;
  font-size: 10pt;
  position: relative;
  top: 0px;
  left: 0px;
  height: 500px;
  font-size: 25pt;
}

#second-div>#first-text {
  position: absolute;
  top: 100px;
  height: 100px;
  left: 33.3%;
  height: 500px;
}

#second-div>#second-text {
  position: absolute;
  top: 100px;
  height: 100px;
  left: 33.3%;
  height: 500px;
}

#second-div:hover {
  width: 307.5%;
  background-color: #00308f;
  z-index: 999;
  margin-left: -104%;
}

#second-div:hover>img {
  width: 33.3%;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#second-div:hover>#first-text {
  width: 33.3%;
  opacity: 1;
  position: absolute;
  left: 0%;
  top: 100px;
  opacity: 1;
  transition: 0.5s;
}

#second-div:hover>#second-text {
  width: 33.3%;
  opacity: 1;
  position: absolute;
  left: 33.3%;
  margin-left: 33.3%;
  transition: 0.5s;
}

#third-div:hover {
  width: 307.5%;
  background-color: #00308f;
  z-index: 999;
  margin-left: -210.2%;
}

#third-div>div>h1 {
  text-align: center;
  display: block;
}

#third-div:hover>div>h1 {
  text-align: end;
  transform: translateX(-40%);
  transition: 1s;
}

#third-div>p {
  opacity: 0;
  font-size: 10pt;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  height: 500px;
  margin-top: -500px;
}

#third-div:hover>img {
  width: 33.3%;
  height: 500px;
  float: right;
}

#third-div:hover>p {
  background-color: #0490C2;
  font-size: 25pt;
  margin-top: 0px;
  opacity: 1;
  color: white;
}

#third-section {
  height: 250px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

#third-section>.grid-container {
  background-color: #0a0a0a;
}

.odd {
  background-color: #151515;
}

#third-section h2 {
  font-size: 40pt;
  text-align: center;
  font-family: "Anton", sans-serif;
  color: skyblue;
  padding-top: 70px;
}

#third-section p {
  font-size: 18pt;
  margin-top: 5px;
  font-family: "Anton", sans-serif;
  color: white;
  text-align: center;
}

#fotter1 {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  color: white;
  height: 200px;
  padding-left: 150px;
  background-color: #0a0a0a;
}

.footerdivContact img {
  height: 60px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.circle {
  float: left;
  background-color: skyblue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 50px;
}

.footerText {
  text-align: center;
  margin-top: 30px;
  font-size: 25pt;
  margin-right: 55px;
  margin-top: 80px;
}

#img1 {
  margin-left: 5%;
}

#text1 {
  position: relative;
  left: -15%;
}

#img2 {
  margin-left: -20%;
}

#text2 {
  margin-top: 65px;
  position: relative;
  left: -12%;
}

#img3 {
  margin-left: -20%;
}

#text3 {
  position: relative;
  left: -7%;
}

#fotter2 {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  text-align: center;
  color: white;
  background-color: black;
  font-size: 25pt;
  font-family: "Anton", sans-serif;
  font-weight: 700;
}

.socialM img {
  height: 40px;
}

.socialM {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 80px;
}

.fotter2text {
  margin-top: 20px;
}

.fotterBut {
  display: grid;
  grid-template-rows: (3, 20%);
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  color: white;
  font-size: 25pt;
  font-family: "Anton", sans-serif;
  margin-top: 30px;
  cursor: pointer;
}

#homebutton-img {
  position: relative;
  bottom: 125px;
  left: 170px;
  height: 90px;
  width: 90px;
}

.fotter2img img {
  height: 300px;
}

.fotterBut>a {
  font-style: normal;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.fotterBut:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

@media (max-width: 1590px) {
  #header img {
      margin-left: 130px;
  }
  #img1 {
      margin-left: 0%;
  }
  #text1 {
      position: relative;
      left: -10%;
  }
  #img2 {
      margin-left: -20%;
  }
  #text2 {
      position: relative;
      left: -18%;
  }
  #img3 {
      margin-left: -40%;
  }
  #text3 {
      position: relative;
      left: -10%;
  }
  .footerText {
      font-size: 20pt;
  }
}
@media (max-width: 1650px) {
  #first-section-main>#next-header{
    margin-top: 130px;
  }
}
