* {
  padding: 0;
  margin: 0;

}

::-webkit-scrollbar {display: none;}

body {
  background-color: #151515;
}

#s1 {
  height: 900px;
  width: 100%;
  position: relative;
  background-color: black;
}

#s1::before {
  background-image: url(img/DSC_5793_11zon.png);
  background-size: cover;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.2;
}

#header {
  height: 200px;
}

#header img {
  height: 140px;
  float: left;
}

.navigatorButoni {
  color: white;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  isolation: isolate;
  position: relative;
  left: 28%;
  margin-left: 28px;
  margin-top: 60px;
  cursor: pointer;
}
.link{
  text-decoration: none;
}

.navigatorButoni:hover {
  text-decoration: underline;
  text-decoration-color: purple;
  text-decoration-thickness: 3px;
  transition: 0.25s;
}

#s1Glaven {
  isolation: isolate;
  color: #ffffff;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  float: right;
  margin-top: 300px;
  margin-right: 100px;
}

#s1Glaven h2 {
  font-size: 50pt;
}

#s1Glaven h2 span {
  font-size: 60pt;
  color: #B65FCF;
  letter-spacing: 2px;
}

#s1Glaven h1 {
  font-size: 50pt;
}

#s1Glaven h1 span {
  font-size: 80pt;
  color: skyblue;
  letter-spacing: 4px;
}

#s1Glaven button {
  height: 75px;
  width: 300px;
  background-color: purple;
  border: solid white;
  border-radius: 30px;
  color: white;
  font-size: 25pt;
  font-family: "Anton", sans-serif;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
}

#s1Glaven button:hover {
  background-color: white;
  color: purple;
  border: solid purple;
  transition: 0.5s;
}

#s2 {
  width: 100%;
  height: 650px;
  background-color: #151515;
}

#whatCanBig {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  color: white;
  height: 400px;
  background-size: cover;
  width: 100%;
  padding-top: 50px;
}

#canWe1 {
  background-image: url(img/gym.jpg);
  background-size: cover;
}

#canWe2 {
  background-image: url(img/pool.jpg);
  background-size: cover;
}

#canWe3 {
  background-image: url(img/DSF3264.jpg);
  background-size: cover;
}

.whatCanWe>div {
  margin-top: 350px;
  background-color: gray;
  ;
  height: 100px;
  font-size: 25pt;
  font-family: "Outfit", sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.whatCanWe h2 {
  color: skyblue;
  font-size: 20pt;
  font-family: "Muli", sans-serif;
  padding-top: 10px;
  margin-left: -20%;
}

.whatCanWe {
  position: relative;
  left: 15%;
  margin-left: 30px;
  border-radius: 10px;
  text-align: center;
}
.whatCanWe:hover{
  transform: translateY(-10px);
  transition: 0.1s;
  border: skyblue solid 3px;
}

#s2header {
  font-family: "Anton", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 40pt;
  color: #ffffff;
  padding-top: 50px;

}

#canWe2 div {
  margin-top: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#s3 {
  margin-top: 5%;
  height: 600px;
  width: 94%;
  position: relative;
  left: 3%;
  background-color: black;
}

#s3::before {
  background-image: url(img/Blog-Photos-2021-12-07T122304.png);
  background-size: cover;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.2;
}

#s3>h1 {
  padding-top: 15%;
  text-align: center;
  font-size: 70pt;
  font-family: "Anton", sans-serif;
  isolation: isolate;
  font-weight: 700;
  color: white;
}

#s3>h1>span {
  color: skyblue;
}

#s4 {
  margin-top: 5%;
  background-color: #151515;
  width: 100%;
  height: 900px;
}

.offerdiv {
  color: white;
  border: 2px solid purple;
  width: 23%;
  height: 540px;
  display: inline-block;
  position: relative;
  left: 5%;
  margin-left: 5%;
  border-radius: 15px;
  text-align: center;
  font-family: "Anton", sans-serif;
}
.offerdiv:hover {
  border: 2px solid white;
  transition: 0.5s;
}

.offerdiv h1 {
  font-size: 50pt;
}

.offerdiv h2 {
  font-size: 30pt;
  padding-top: 20px;
}

.offerdiv h3 {
  margin-top: 10px;
  font-size: 40pt;
}

.offerdiv p {
  font-size: 22pt;
  margin-top: 30px;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
}

.offerdiv div {
  background-color: purple;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.offerbut {
  width: 200px;
  height: 60px;
  margin-top: 20px;
  background-color: purple;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 20pt;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 600;
  cursor: pointer;
}


.offerbut:hover {
  background-color: white;
  border: 2px solid purple;
  color: purple;
  transition: 0.5s;
}

#offerh2 {
  text-align: center;
  color: purple;
  font-size: 20pt;
  margin-top: -50px;
  font-family: "Anton", sans-serif;
}

#offerh1 {
  text-align: center;
  color: white;
  font-size: 30pt;
  font-family: "Anton", sans-serif;
  margin-bottom: 30px;
  width: 100%;
}

#fotter1 {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  color: white;
  height: 200px;
  margin-top: -100px;
  padding-left: 150px;
  background-color: #0a0a0a;
}

.footerdivContact img {
  height: 60px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.circle {
  float: left;
  background-color: skyblue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 50px;
}
.footerText{
  text-align: center;
  margin-top: 30px;
  font-size: 25pt;
  margin-right: 55px;
  margin-top: 80px;
}
#img1{
  margin-left: 5%;
}
#text1{
  position: relative;
  left: -15%;
}
#img2{
  margin-left: -20%;
}
#text2{
  margin-top: 65px;
  position: relative;
  left: -12%;
}
#img3{
  margin-left: -20%;
}
#text3{
  position: relative;
  left: -7%;
}
#fotter2{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  text-align: center;
  color: white;
  background-color: black;
  font-size: 25pt;
  font-family: "Anton", sans-serif;
  font-weight: 700;
}
.socialM img{
  height: 40px;
}
.socialM{
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 80px;
}
.fotter2text{
  margin-top: 20px;
}
.fotterBut{
  display: grid;
  grid-template-rows:(3, 20%);
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  color: white;
  font-size: 25pt;
  font-family: "Anton", sans-serif;
  margin-top: 30px;
  cursor: pointer;
}
#homeBut{
  margin-top: 20px;
}
.fotter2img img{
  height: 300px;
}
.fotterBut > a{
  font-style: normal;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.fotterBut:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
@media (max-width: 1590px) {
  #header img {
    margin-left: 130px;
  }
  #img1{
    margin-left: 0%;
  }
  #text1{
    position: relative;
    left: -10%;
  }
  #img2{
    margin-left: -20%;
  }
  #text2{
    position: relative;
    left: -18%;
  }
  #img3{
    margin-left: -40%;
  }
  #text3{
    position: relative;
    left: -10%;
  }
  .footerText{
    font-size: 20pt;
  }
}
