* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #151515;
  }
  
  #s1 {
    height: 140px;
    width: 100%;
    position: relative;
    background-color: #0a0a0a;
  }
  
  #header {
    height: 200px;
  }
  
  #header img {
    height: 140px;
    float: left;
  }
  
  .navigatorButoni {
    color: white;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    isolation: isolate;
    position: relative;
    left: 28%;
    margin-left: 28px;
    margin-top: 60px;
    cursor: pointer;
  }
  
  .navigatorButoni:hover {
    text-decoration: line-through;
    text-decoration-color: purple;
    text-decoration-thickness: 3px;
    transition: 0.25s;
  }